// General
html {
    @include box-sizing(border-box);
    height: 100%;
}

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
    height: 100%;
    background-color: $gris;
}

img {
    max-width: 100%;
}

.centrado {
    text-align:center;
}

.oculto {
    display: none;
}

.no-menu.pagina .sidebar {
    margin-left: -20rem;
}

// Pagina
.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


// Header
.header {
    display: flex;

    .nombre-sitio {
        background-color: $secundario;
        padding: 1rem;
        flex: 0 0 5rem;
        
        h1 {
            color: $blanco;
            margin: 0;
        }

        @include desktop {
            flex: 0 0 20rem;
        }

        .escritorio {
            display: none;

            @include desktop {
                display: block;
            }
        }

        .movil {
            @include desktop {
                display: none;
            }
        }
    }
}


// Barra 
.barra {
    background-color: $primario;
    flex: 1;
    display: flex;
    justify-content: space-between;

    .menu-izquierdo {
        display: flex;
        align-items: center;
        padding: 1rem;
        
        i {
            color: $blanco;
            font-size: 1.4rem;
        }

        .fa-arrow-right {
            display: none;
        }
    }

    .menu-derecho {
        display: flex;
        align-items: center;
        padding: 1rem;

        .desktop {
            display: none;
        }

        @include tablet {
            padding: 0;

            > i {
                display: none;
            }

            .desktop {
                display: flex;
                height: 100%;

                .caja {
                    height: 100%;
                    display: flex;
                    padding: 0 1rem;
                    align-items: center;
                    
                    &:hover {
                        background-color: darken( $primario, 5 );
                    }
                    
                    a {
                        color: $blanco;
                        text-decoration: none;
                    }

                    span {
                        margin-left: 1rem;
                        border-radius: 50%;
                        padding: .3rem;
                        background-color: $terciario;
                    }
                }
            }
        }

        i {
            color: $blanco;
            font-size: 1.4rem;
            position: relative;

            .cajas {
                display: none;
            }

            &:hover {

                .cajas {
                    display: flex;
                    position: absolute;
                    min-height: 10rem;
                    top: 100%;
                    right: 0;
                    flex-direction: column;
                    z-index: 2;

                    .caja {
                        background-color: $primario;
                        display: flex;
                        font-size: 1rem;
                        width: 10rem;
                        padding: 1rem 0;
                        border-bottom: 1px solid $gris;
                        
                        &:hover {
                            background-color: darken( $primario, 5 );
                        }

                        a {
                            display: flex;
                            flex: 1;
                            justify-content: space-evenly;
                            text-decoration: none;
                            color: $blanco;

                        }
                        
                        span {
                            border-radius: 50%;
                            padding: .3rem;
                            background-color: $terciario;
                        }
                    }
                }
            }
        }
    }
}


// Contenido
.contenedor-principal {
    display: flex;
    position: relative;
    flex: 1;
}


// sidebar
.sidebar {
    color: $blanco;
    padding: 1rem;
    background-color: $grisOscuro;
    position: absolute;
    min-height: 100%;
    max-width: 20rem;
    transition: margin-left .3s ease;
    
    .usuario {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: normal;
        
        img {
            max-width: 5rem;
        }
        
        span {
            font-weight: bold;
            display: block;
        }
    }

    .buscador {
        margin-top: 1rem;

        input[type="text"] {
            width: 100%;
            height: 3rem;
            border: none;
            border-radius: 10px;
            padding-left: 1rem;
        }
    }

    .menu-admin {
        margin-top: 2rem;
    }
}

.menu-admin {
    .menu {
       list-style: none;
       padding: 0 0 0 1rem;
       
        > li {
            padding: .5rem;

            &:hover {
                ul {
                    display: block;
                }
            }

            a {
                text-decoration: none;
                color: $blanco;
                padding: .5rem;
                transition: padding-left .3s ease;

                &:hover {
                    background-color: $primario;
                    padding-left: 2rem;
                }
            }

            ul {
                display: none;
                margin-top: 1rem;
                list-style: none;
                background-color: darken( $grisOscuro, 3 );
                padding: 1rem;

                li {
                    margin-bottom: 1rem;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.contenido {
    flex: 1;
    padding: 0 1rem;
    box-sizing: border-box;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .campo {
        flex: 0 0 100%;
        display: flex;
        margin-bottom: 1rem;
        align-items: center;

        @include tablet {
            flex: 0 0 calc( 50% - 1rem );
        }

        &.expandir {
            flex: 0 1 calc( 100% );
            align-items: flex-start;
            width: 10rem;

            label {
                flex: 0 0 calc( 12.5% );
            }

            textarea {
                flex-shrink: 1;

                @include telefono {
                    flex-shrink: 1;
                    width: 100%;
                }
            }
        }

        label {
            flex: 0 0 25%;
        }

        input[type="text"] {
            height: 2rem;

            @include telefono {
                flex-shrink: 1;
                width: 100%;
            }
            @include tablet {
                flex: 1;
            }
        }

        .opciones {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex: 1;

            .opcion {
                flex: 0 0 calc( 50% - .5rem );
                @include tablet {
                    flex: 1;
                }
            }

            label {
                padding-left: 1rem;
            }
        }

        &.enviar {
            display: flex;
            justify-content: flex-end;

            .boton {
                @include boton( $primario );
            }
        }
    }
}
